<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="footerstyle.css" />
    <!--FONT AWESOME-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <footer>
      <div class="footer">
        <div class="row">
          <a href="https://www.facebook.com/RaasPal" target="_blank"
            ><i class="fa fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/raas_pal" target="_blank"
            ><i class="fa fa-instagram"></i
          ></a>
          <a href="https://www.youtube.com/@raaspal" target="_blank"
            ><i class="fa fa-youtube"></i
          ></a>
          <a
            href="https://www.linkedin.com/company/raaspal/?originalSubdomain=th"
            target="_blank"
            ><i class="fa fa-linkedin"></i
          ></a>
        </div>

        <div class="row">
          <ul>
            <li>
              <a href="https://raaspal.com/about-us/" target="_blank"
                >About Us</a
              >
            </li>
            <li>
              <a href="https://raaspal.com/contact-us/" target="_blank"
                >Contact us</a
              >
            </li>
            <li>
              <a href="https://raaspal.com/services-solutions/" target="_blank"
                >Our Services</a
              >
            </li>
            <li>
              <a href="https://raaspal.com/news-events/" target="_blank"
                >News & Events</a
              >
            </li>
          </ul>
        </div>

        <div class="row">
          RAAS PAL COMPANY LIMITED © 2024 All rights reserved
        </div>
      </div>
    </footer>
  </body>
</html>
